<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>
<div class="container-2">
    <div class="box-4">
        <h3> box-1</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
    <div class="box-5">
        <h3> box-2</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
    <div class="box-6">
        <h3> "box-3"</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
</div>
</body>
</html>