<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>links</title>
</head>
<body>
<div style="border: solid gray" align="center">
    <div class="linkbar" align="rigth">
        <a href="https://foedevarestyrelsen.dk/Leksikon/Sider/Madspild.aspx">Fødevare Styrelsen</a><br>
        <a href="https://www.noedhjaelp.dk/madspild">Nødhjælp.dk</a><br>
        <a href="https://www.stopspildafmad.dk/"> Stopmadspild.dk</a><br>
        <a href="https://www.madspild.net/">madspil.net</a><br>
    </div>
</div>
</body>
</html>