<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css" />

    <div align="center" style="background-color: yellow">
        <h1 style="font-size: 600%" align="center">Modstand Mod Madspild</h1>
        <img th:href="@{/logo3m}" src="../static/logo3m.png">
    </div>

    <div class="topnav" align="center">
        <a class="active" href="#home">Home</a>
        <a href="news.html">News</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
        <a href="#links.html">links</a>
    </div>
</head>

<body>
<div>

    <div class="container-1">
        <div class="box-1">
            <h3> box-1</h3>
            <p> lorem lorem lorem lorem</p>
            <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
        </div>
        <div class="box-2">
            <h3> box-2</h3>
            <p> lorem lorem lorem lorem</p>
            <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
        </div>
        <div class="box-3">
            <h3> "box-3"</h3>
            <p> lorem lorem lorem lorem</p>
            <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
        </div>
    </div>

</body>

<footer>
    <div align="center">
        <div>
            <p>projekt stopmadspild</p>
            <p>KEA</p>
            <p>Nørrebro</p>
        </div>

    </div>
</footer>

</html>