<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>news</title>

    <div align="center" style="background-color: yellow">
        <h1 style="font-size: 600%" align="center">Stop Madspild</h1>
        <img th:href="@{/logo3m}" src="../static/logo3m.png">
    </div>

    <div class="topnav" align="center">
        <a class="active" href="#home">Home</a>
        <a href="news.html">News</a>
        <a href="opskrifter.html">opskrifter</a>
        <a href="links.html">links</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>


    </div>
</head>
<body>
<div class="container-2">
    <div class="box-4">
        <h3> box-1</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
    <div class="box-5">
        <h3> box-2</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
    <div class="box-6">
        <h3> "box-3"</h3>
        <p> lorem lorem lorem lorem</p>
        <img th:href="@{/thinkeatsave.png}" src="../static/thinkeatsave.png">
    </div>
</div>
</div>
</body>
</html>